final.json
{
  "name": "Upwork Automation",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dbd4dbbe-4f44-4db6-b155-534e848b13a9",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "1e6372fe-feb6-4f6b-bd21-5d78bf26b4b7",
              "name": "description",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "f487bf4c-eece-435e-8ac4-39028cb262fe",
              "name": "url",
              "value": "={{ $json.url }}",
              "type": "string"
            },
            {
              "id": "7d870236-fdbb-4382-bafd-9da2cfcd07aa",
              "name": "relativeDate",
              "value": "={{ $json.relativeDate }}",
              "type": "string"
            },
            {
              "id": "53be8665-16bb-42a0-8529-0f3ede70137e",
              "name": "jobType",
              "value": "={{ $json.jobType }}",
              "type": "string"
            },
            {
              "id": "f7d6d248-2193-4684-8406-5b112a145abf",
              "name": "experienceLevel",
              "value": "={{ $json.experienceLevel }}",
              "type": "string"
            },
            {
              "id": "0d08a144-9edf-4745-8489-4350976cb5f0",
              "name": "Posted",
              "value": "={{ $json.relativeDate }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        144
      ],
      "id": "d9b850e3-e04c-4893-aeae-525bb81f833b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"score\": \"X/10\",\n  \"priority\": \"High | Medium | Low\",\n  \"reason\": \"One short paragraph explaining why\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        896,
        384
      ],
      "id": "c083bef9-82f6-454c-a8c5-d4a45fdb5f36",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.title }}\n{{ $json.description }}\n{{ $json.url }}\n{{ $json.relativeDate }}\n{{ $json.jobType }}\n{{ $json.experienceLevel }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are an expert Upwork Job Scoring Agent trained to evaluate jobs specifically for Morgan (an automation builder specializing in n8n, AI automations, workflow systems, voice agents, and Twilio/Retell).\n\nYour task is to analyze the job below and score how good it is for Morgan RIGHT NOW based on his current goals:\n\n- get quick wins\n- land fast jobs\n- build portfolio\n- collect testimonials\n- increase Upwork profile history\n- avoid time-wasting clients\n- focus on automation, AI, workflow, systems, voice agents, CRM, Twilio/Retell, n8n-related work\n\n### Output Format JSON (required):\n{\n  \"score\": \"X/10\",\n  \"priority\": \"High | Medium | Low\",\n  \"reason\": \"One short paragraph explaining why\"\n}\n\n### Scoring rules:\nHIGH PRIORITY (8–10/10) if:\n- Job is clearly automation-related (n8n, automation, workflow, AI, chatbot, voice agent, Twilio, Retell, Zapier, Make, API integrations)\n- Client looks easy to work with\n- Budget is reasonable\n- Job can be completed quickly (under 48 hours)\n- Client has history OR high payment verification\n\nMEDIUM PRIORITY (5–7/10) if:\n- Some automation work but unclear scope\n- Job might be longer than ideal\n- Client is new with no history\n- Budget is low but still worth doing for profile building\n\nLOW PRIORITY (1–4/10) if:\n- Not automation related\n- Job looks like a headache\n- Client unclear / bad reviews / very low rate\n- WordPress / graphic design / irrelevant work\n- Long-term dev projects unsuitable for quick wins\n\n### Job Data:\nTitle: {{ $json.title }}\nDescription: {{ $json.description }}\nURL: {{ $json.url }}\nPosted: {{ $json.relativeDate }}\nJob Type: {{ $json.jobType }}\nExperience Level: {{ $json.experienceLevel }}\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        928,
        144
      ],
      "id": "b432be03-e473-4820-aa65-0fe9cecc3699",
      "name": "Analyse Job"
    },
    {
      "parameters": {
        "content": "## Upwork Automation",
        "height": 624,
        "width": 1536,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "0c458e90-7932-41e3-bf00-b5348847be02",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        32,
        144
      ],
      "id": "ae628cd7-cdb1-47fc-b2b0-e9cb5f927b53",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        608,
        352
      ],
      "id": "eacab7e9-6601-40e0-aae2-7a3b15347616",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "B6F3L0Sv8rb3PmX9",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appVi9Adc2CTjBFQp",
          "mode": "list",
          "cachedResultName": "Upwork Automation Leads",
          "cachedResultUrl": "https://airtable.com/appVi9Adc2CTjBFQp"
        },
        "table": {
          "__rl": true,
          "value": "tblZz9cXsMSIezdga",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appVi9Adc2CTjBFQp/tblZz9cXsMSIezdga"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Job Title": "={{ $('Edit Fields').item.json.title }}",
            "Job Description": "={{ $('Edit Fields').item.json.description }}",
            "Score": "=\n{{ Number($json.output.score.split('/')[0]) }}\n",
            "Priority": "={{ $json.output.priority }}",
            "Reasoning": "={{ $json.output.reason }}",
            "Job URL": "={{ $('Edit Fields').item.json.url }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Job Description",
              "displayName": "Job Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Reasoning",
              "displayName": "Reasoning",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Job URL",
              "displayName": "Job URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1280,
        144
      ],
      "id": "6784112f-738c-4040-8fa2-4841af56080f",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "D5FgG7h2AkEFYdMO",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  // {\n  //   json: {\n  //     title: \"n8n Automation Expert Needed for Workflow Optimization\",\n  //     description: \"We are looking for an expert in n8n to help us automate our lead generation process. Must know JavaScript, Airtable, and OpenAI API. Budget is flexible for the right person.\",\n  //     url: \"https://www.upwork.com/jobs/~01example123\",\n  //     experienceLevel: \"Expert\"\n  //   }\n  // },\n  // {\n  //   json: {\n  //     title: \"Virtual Assistant for Data Entry\",\n  //     description: \"Need someone to copy paste data from Excel to Word. Simple job, no experience needed.\",\n  //     url: \"https://www.upwork.com/jobs/~02example456\",\n  //     experienceLevel: \"Entry Level\"\n  //   }\n  // },\n  // {\n  //   json: {\n  //     title: \"Build a Python Scraper for Real Estate\",\n  //     description: \"Looking for a Python developer to scrape Zillow using Apify and save data to Google Sheets. Need this done ASAP.\",\n  //     url: \"https://www.upwork.com/jobs/~03example789\",\n  //     experienceLevel: \"Intermediate\"\n  //   }\n  // },\n  {\n    json: {\n      title: \"AI Voice Agent Developer (Retell & Twilio)\",\n      description: \"We need a developer to build an outbound sales voice agent using Retell AI and Twilio. Must handle latency issues and integrate with HubSpot CRM.\",\n      url: \"https://www.upwork.com/jobs/~04voiceagent\",\n      experienceLevel: \"Expert\"\n    }\n  },\n  {\n    json: {\n      title: \"Graphic Designer for Logo Creation\",\n      description: \"Looking for a creative designer to make a minimal logo for our coffee shop. Must use Adobe Illustrator. Please send portfolio.\",\n      url: \"https://www.upwork.com/jobs/~05design\",\n      experienceLevel: \"Intermediate\"\n    }\n  },\n  {\n    json: {\n      title: \"Automate Shopify Orders to Airtable (Make.com)\",\n      description: \"Need help moving order data from Shopify to Airtable using Make (formerly Integromat). We need this logic to handle refunds as well.\",\n      url: \"https://www.upwork.com/jobs/~06make\",\n      experienceLevel: \"Intermediate\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        144
      ],
      "id": "8aaf418a-335b-4f99-9691-dd18af3570d5",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c881095d-003c-47cc-9029-b08964d15186",
              "leftValue": "={{ $json.description.length }}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        736,
        144
      ],
      "id": "a67663e2-8ebc-415b-96b4-3308cfcb0262",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Analyse Job",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Analyse Job": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analyse Job",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create a record": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Analyse Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "6d6a9647-1072-42a7-8b65-2771c59c2f98",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9835bab144fa49a08c2c7afa3aaa1a4afd7b41ae652534f6a3d6a3e40195fbac"
  },
  "id": "Gl7upKO6og19kgLCpgYJB",
  "tags": []
}